
h1{
                color: red;
                text-align: center;
                margin: auto;
    font-family: "Jolly Lodger", Arial;
            }
@font-face {
    font-family: "Jolly Lodger";
    src: url(./JollyLodger-Regular.ttf) format("truetype");
}
body {
    background-color: black
}

