h1{
    color: whitesmoke;
   text-align-last: center;
    margin: auto;
     font-family: "Slabo27", Arial;
}

nav{
    text-align-last: center;
    margin: 12px
        
}

h2{
    color: red;
   text-align-last: center; 
     font-family: "Slabo27", Arial;
    
}

body{
    background-color: black;
    
}